@import 'normalize.css'

.assignments-list-component {
}
.assignments-list-component h3 {
    border-bottom: 1px solid #000;
}
ul.assignments-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.assignments-list > li {
    margin: 0 0 0 0;
    cursor:pointer;
    padding: 1em;
}
ul.assignments-list > li:hover {
    color: #aa0000;
    background: #999;
}
ul.assignments-list > li.active {
    background: yellow;
}